:root {
  --primary-color: #1e1e2f;
  --secondary-color: #fff;
  --green-color: #97c680;
  --orange-color: #feba88;
  --radius: 20px;
  --transition: cubic-bezier(0.77, 0, 0.175, 1);
}

@font-face {
  font-family: 'archiaregular';
  src: url('./font/archia-regular-webfont.eot');
  src: url('./font/archia-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./font/archia-regular-webfont.woff2') format('woff2'),
    url('./font/archia-regular-webfont.woff') format('woff'),
    url('./font/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  font-family: 'archiaregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background-image: linear-gradient(-5deg, #f8f4f1 60%, #fefeff 98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  padding: 36px 24px;
  max-width: 1440px;
  margin: 0 auto;
}

.c-scrollbar {
  z-index: 3;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style-type: none;
  color: var(--primary-color);
  font-size: 14px;
  cursor: pointer;
  line-height: 22px;
}

p {
  font-size: 14px;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.connect-btn {
  font-size: 14px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 100px;
  min-height: 45px;
  min-width: 130px;
  background-color: var(--green-color);
  box-shadow: inset 0 45px 0 0 var(--primary-color);
  color: var(--secondary-color);
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.connect-btn:hover {
  color: --primary-color;
  box-shadow: inset 0 0 0 0 var(--primary-color);
}

.contact {
  background: #fff;
}

.contact-input {
  background: transparent;
  border: 0;
  font-family: inherit;
  color: var(--primary-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.contact-input::placeholder {
  font-family: inherit;
  font-size: 16px;
  color: var(--primary-color);
}

.contact-input:focus {
  outline: none;
}

.contact-input:focus::placeholder {
  opacity: 0.4;
}

.contact button {
  font-size: 24px;
  background-color: var(--orange-color);
  transition: box-shadow 0.2s ease-in-out;
}

.toggle-btn {
  width: 32px;
  height: 32px;
  line-height: 0;
  padding: 0;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.toggle-icon {
  font-size: 26px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.loader-wrapper h1 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
}

.loader-wrapper h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: 'Bodoni Moda', serif;
  font-style: italic;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px 24px;
  }

  p,
  li,
  a {
    font-size: 16px;
  }

  .connect-btn {
    font-size: 16px;
    min-width: 160px;
  }
}

@media (min-width: 998px) {
  .section {
    padding: 64px 80px;
  }
}
